{% extends 'vocabulary/base.html' %}
{% block title %}
    About
{% endblock %}

{% block main %}
        <h3>このサイトは皆で英単語を勉強をすることを目的としたサイトです。</h3>
        <p>Sign in/Sign up:ここでアカウント作成やログインができます。
        <br>Vocabulary:単語帳を閲覧できます。
        <br>edit:単語帳の編集ができます
        <br>Home:ホーム画面です。
        <br>Search:単語帳の検索ができます。</p>
    
        <p>This site is for studying English words together.
        <br>Sign in / Sign up: Here you can create an account or log in.
        <br>Vocabulary: You can browse the deck.
        <br>edit: You can edit the deck
        <br>Home: Home screen.
        <br>Search: You can search the deck.</p>
{% endblock %}
    